# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.swp

# نظام
.DS_Store
Thumbs.db

# أسرار
.env
*.key
*.secret

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/favicon.png
build/

# Logs
*.log
